<div>
 <div>
  {{#each wod}}
  <div>
  <img src="{{userId.imagePath}}" alt="{{userId.imageName}}" style="width: 110px; height: 110px">
  <h3>{{userId.name}}</h3>
  <p>{{wodFocus}}</p>
  <p>{{level}}</p>
  <a href="/wod/{{_id}}">Ir al wod</a>
  </div>
  {{/each}}
 </div>
</div>

<h4><a href="/profile"><button>Volver a mi Perfil</button></a></h4>
<br><h4><a href="/wods"><button>Ver todos los WOD's</button></a></h4><br>