{{#each wod}}

<div class="container padding">
  <div class="row text-center padding align-items-center">
    <div class=" col-xs-3 col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
      <img src="{{userId.imagePath}}" alt="{{userId.imageName}}" style="width: 70px; height: auto">
    </div>
    <div class="col-xs-6 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <h4>{{userId.name}} terminó la rutina ''{{wodName}}'' </h4>
      <h5>Nivel: {{level}} </h5>
      <h4>{{record}}</h4>
      <div class="chlakBoard">
        <p> </p>
      </div>

    </div>
    <div class="col-xs-3 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <a class="btn btn-info" href="/wod/{{_id}}" role="button">Ver detalle</a>
    </div>
  </div>
  <hr class="my-4">
</div>
{{/each}}