<!-- wod timer -->
<link rel="stylesheet" href="/stylesheets/Timer.css"/>
<div id="cStateContainer"></div>
<script src="/javascripts/Timer.js"></script>
<!-- wod timer end -->


<h2>Edit your workout and Rock on</h2>
<form action="/doWodView" method="POST">
    <input name="wodName" type="text" placeholder="wodName" value="{{wodName}}"><br>
    <input name="wodFocus" type="text" placeholder="wodFocus" value="{{wodFocus}}"><br>
    <input name="duration" type="text" placeholder="duration" value="{{duration}}"><br>
    <input name="desc" type="text" placeholder="desc" value="{{desc}}"><br>
    <input name="level" type="text" placeholder="level" value="{{level}}"><br>
    <input name="record" type="text" placeholder="describe how you felt after the wod" value=""><br>
    <input name="userId" type="text" placeholder="userID" value="{{userId}}" hidden><br>
    <input type="submit" value="reigstra tu progress">
</form>

<h4><a href="/profile"><button>Volver a mi Perfil</button></a></h4>
<br><h4><a href="/wods"><button>Ver todos los WOD's</button></a></h4><br>