<h2>Edit WOD</h2>
<form action='/editWodPost/{{_id}}' method="POST">
  <input name="wodName" type="text" placeholder="Enfoque de Entrenamiento" value="{{wodName}}"><label>Nombre del WOD</label><br><br>
  <input name="wodFocus" type="text" placeholder="Correo Electronico" value="{{wodFocus}}"><label>Focus del WOD</label><br><br>
  <input name="duration" type="text" placeholder="Duración" value="{{duration}}"><label>Duración</label><br><br>
  <input name="desc" type="text" placeholder="Rutina a Ejecutar" value="{{desc}}"><label>Descripción</label><br><br>
  <input name="level" type="text" placeholder="Nivel" value="{{level}}"><label>Nivel de Dificultad</label><br><br>
  <input name="record" type="text" placeholder="Coloca tu Record" value="{{record}}"><label>Tus Resultados</label><br><br>
  <input type="submit" value="Edit WOD">
</form>

<h4><a href="/profile">Volver a mi Perfil</a></h4>
<br>
<h4><a href="/wods">Ver todos los WOD's</a></h4><br>