<h2>Edit WOD</h2>
<div>
  <form action='/editWodPost/{{_id}}' method="POST">
    <input class="form-control" name="wodName" type="text" "Enfoque de Entrenamiento" value="{{wodName}}">
    <input class="form-control" name="wodFocus" type="text" placeholder="Correo Electronico" value="{{wodFocus}}"><br>
    <input class="form-control" name="duration" type="text" placeholder="Duración" value="{{duration}}"><br>
    <input class="form-control" name="desc" type="text" placeholder="Rutina a Ejecutar" value="{{desc}}"><br>
    <input class="form-control" name="level" type="text" placeholder="Nivel" value="{{level}}"><br>
    <input class="form-control" name="record" type="text" placeholder="Coloca tu Record" value="{{record}}"><br>
    <input type="submit" value="Edit WOD">
  </form>
</div>

<a href="/profile" class="badge badge-dark">Volver a mi Perfil</a>
<br>
<a href="/wods" class="badge badge-dark">Ver todos los WOD's</a>
<br>