<h1>Your WOD's</h1>

{{#each wods}}
<div>
  <h3><a href="/wod/{{_id}}">{{wodName}}</a></h3>
  <h4>{{wodFocus}}</h4>
  <h4>{{duration}}</h4>
  <h4>{{desc}}</h4>
  <h4>{{level}}</h4>
  <h4>{{record}}</h4>
  {{#each comments}}
  <hr>
  <h5>{{this.userId.name}}</h5>
  <p>{{this.body}}</p>
  {{/each}}
</div>
<hr>
<br>
  <form action="/deleteWod/{{_id}}" method="POST">
  <button type="submit">Borrar WOD</button>
  </form>
<hr>
{{/each}}

<h4><a href="/profile"><button>Volver a mi Perfil</button></a></h4>
<br><h4><a href="/wods"><button>Ver todos los WOD's</button></a></h4><br>